<!DOCTYPE html>
<html>
<head>
  <title> <%= title %></title>
  <!-- render  -->
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/js' %>
  <%= csrf_meta_tags %>
</head>

	<body>
<div class="container">
<!--references the header in layouts, simplifying debugging -->
 <%= render 'layouts/header'%>

<section class="round"> 

<%= image_tag placeholder_image(120,90) %>


		<%= yield %>

</section>

<%= render 'layouts/footer' %>
	</body>
</div> <!--closes container div-->
</html>
